.history{
    background: rgb(2, 164, 204);
    color: white;
    text-align: center;
    padding: 80px 0px;
    span{
        font-size: 60px;
    }
    h4{
        margin-top: 10px;
        font-weight: bold;
    }
}