.sectionTop{
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    position: relative;
    span{
        font-size: 50px;
        color:rgb(34, 122, 236) ;
    }
    h1{
        position: absolute;
        left: 40%;
        top: 40%;
        font-size: 60px;
        font-weight: 300;
        opacity: .1;
    }
    h2{
        font-weight: bold;
    }
}