.carousel{
    margin: 50px 0px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(26, 34, 58, 0.7) 100%), url('../../assects/bg-3.jpg');

    .partner_details{
        padding: 100px;
        .partner_img{
            img{
                width: 100px;
                margin-bottom: 30px;
                border-radius: 100%;
            }
        }
        p{
            font-size: 18px;
            margin-bottom: 30px;
            color: white;
        }
        span{
            
            padding: 6px 15px;
            border-radius: 15px;
            background: rgb(19, 153, 206);
            color: white;
        }
    }
}
.slick-dots li button:before {
    content: ''!important;
    background: white;
    width: 10px !important;
    top: -60px !important;
    height: 20px !important;
    opacity: 1 !important;
        
}

.slick-dots li.slick-active button:before{
    height: 45px !important;
    background-color: #2196f3;
}
